@model IEnumerable<SportEquipWeb.Models.Core.Equipment>

@{
    ViewBag.Title = "EquipmentList";
}

<h2>Equipment List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.ActionLink("Details", "Details","Equipment", new { id = item.Id },null) |
        @Html.ActionLink("Delete", "Delete","Admin", new { id = item.Id },null)
    </td>
</tr>
}

</table>
