@model SportEquipWeb.Models.Core.Equipment
@{
    ViewBag.Title = "ComfirmOrder";
}

<div>
    <h1>Do you want to Order this Equipment</h1>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LongDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvailableDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsAvaible)
        </dt>
        <dd>
            @{
                string available;
                if (Model.IsAvaible == true)
                {
                    available = "Yes";
                }
                else
                {
                    available = "No";
                }
            }
            @available
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgPath)
        </dt>

        <dd>
            <img class="img-responsive" src="@Url.Content(Model.ImgPath)" style="width:300px; height:300px;">
        </dd>

    </dl>
</div>
<p>

    
    @Html.ActionLink("Order Now", "OrderNow", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-danger", })

    @ViewBag.Result
    @using (Html.BeginForm())
    {

        @*<button type="submit" class="btn btn-danger" name="id" value="Model.Id">Order Now</button>*@
    }

    @Html.ActionLink("Back to List", "Index")
</p>


