@model SportEquipWeb.Models.Core.Equipment
@{
    ViewBag.Title = "ComfirmOrder";
}
    <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.js"></script>
<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div style=" border-width:medium; padding:20px;">
            <h2 class="">@Html.DisplayFor(model => model.Name)</h2>
            <p>@Html.DisplayFor(model => model.LongDescription)</p>
            <div style="padding-bottom:5px;">
                <span class="text-left">₦@Html.DisplayFor(model => model.DailyRate)</span>
                <span class="text-right pull-right">
                    @{

                        if (ViewBag.Available == true)
                        {
                            <span style="color:green;">Available </span>
                        }
                        else
                        {
                            <span style="color:red;">Unavailable "Available By" @Html.DisplayFor(model => model.AvailableDate)</span>
                        }
                    }
                </span>
            </div>
            <img src="@Url.Content(Model.ImgPath)" style="width:100%; height:300px;" />
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-2">
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Owner"))
                        {
                            @Html.ActionLink("Back to List", "Index", "Owner")
                        }
                        else if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Back to List", "EquipmentList", "Admin")
                        }
                        else
                        {
                            @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-info" })
                        }
                    }
                    else
                    {
                        @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-info" })
                    }
                </div>


                @using (Html.BeginForm("OrderNow", "Equipment", FormMethod.Post))
                {
            <div class="col-md-4">
                <input type="number" name="days" min="1" class="form-control" placeholder="number of days" id="days"
                        />
                <input type="hidden" name="id" value="@Model.Id" />
                <input type="hidden" name="dailyRate" value="@Model.DailyRate" id="dailyRate"/>

            </div>

                    <div class="col-md-2">
                        <input type="submit" value="Order Now" class="form-control btn btn-success" id="orderBtn"/>
                    </div>

                }
                <p style="color:red;" id="daysValidation"></p>
            </div>
            <div>
                <p id="price" style="font-size:30px;color:forestgreen"></p>
            </div>

        </div>

    </div>

</div>


<script>
    var orderBtn = document.getElementById("orderBtn");
    var daysValidation = document.getElementById("daysValidation");
    var days = document.getElementById("days");
    var price = document.getElementById("price");
    var dailyRate = document.getElementById("dailyRate");

    orderBtn.addEventListener("click", function () {
        if (days.value == null || days.value == "" || days.value < 0) {
            daysValidation.textContent = "invalid number of days";
            event.returnValue = false;
        }
        
    })
   
    days.addEventListener("input", writeAge);
    function writeAge() {
        if (days.value > 0) {
            price.textContent = dailyRate.value * days.value;
        }
        else {
            price.textContent = 0;
        }
    }
</script>
