@model SportEquipWeb.Models.Core.Equipment

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>Equipment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LongDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvailableDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsAvaible)
        </dt>

        @{

            if (ViewBag.Available == true)
            {
                <dd>Available</dd>
            }
            else
            {
                <dd>Not Available</dd>
            }
        }


        <dt>
            @Html.DisplayNameFor(model => model.ImgPath)
        </dt>

        <dd>
            <img class="img-responsive" src="@Url.Content(Model.ImgPath)" style="width:300px; height:300px;">
        </dd>

    </dl>
</div>
<p>
    @{
        if (ViewBag.Available == true)
        {
            @Html.ActionLink("Order Now", "ComfirmOrder", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-danger" })
        }
    }


    @*@Html.ActionLink("Delete", "Delete", new { id = Model.Id }, htmlAttributes: new { @class = "" }) |*@

    @if (Request.IsAuthenticated)
    {
        if (User.IsInRole("Owner"))
        {
            @Html.ActionLink("Back to List", "Index", "Owner")
        }
        else if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Back to List", "EquipmentList", "Admin")
        }
        else
        {
            @Html.ActionLink("Back to List", "Index")
        }
    }
</p>
