@model IEnumerable<SportEquipWeb.Models.Core.Equipment>

@{
    ViewBag.Title = "Index";
}


<link href="~/Content/Site.css" rel="stylesheet" />
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {


            <div class="col-lg-4 col-md-4" style="margin-bottom:20px;">
                <a href="@Url.Action("Details", "Equipment", new {id = item.Id })" class="decoration">
                    <div class="event-card" style="width: 37rem;">
                        <img src="@Url.Content(item.ImgPath)" class="card-img-top img-responsive" alt="..." style="width:370px; height:230px;">
                        <div class="event-card-header">
                            <h5 class="event-card-title" style="text-align:center">@Html.DisplayFor(modelItem => item.Name)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.ShortDescription)</p>
                        </div>
                        <ul class="event-list-group list-group-flush">
                            <li class="event-list-group-item" style="text-align:center">
                                @{
                                    string available;
                                    if (item.IsAvaible == false)
                                    {
                                        available = "Yes";
                                    }
                                    else
                                    {
                                        available = "No";
                                    }
                                }
                                @available @Html.DisplayFor(modelItem => item.AvailableDate.Date)
                            </li>

                        </ul>
                        @Html.ActionLink("Learn More", "Details", new { id = item.Id }, new { @class = "btn event-btn" })
                    </div>
                </a>

            </div>

        }

    </div>
</div>
