@model IEnumerable<SportEquipWeb.Models.Core.Equipment>

@{
    ViewBag.Title = "Index";
}
<style>
    .disableBtn{
        
    }
</style>

<link href="~/Content/Site.css" rel="stylesheet" />
<div class="container" style="padding-top:15px;">
    <div class="row">
        
        <div class="col-md-8">
            @using (Html.BeginForm())
            {

                <div class="row">
                    <div class="col-md-4">
                        Category:
                        <select name="category" class="form-control">
                            @if (!(string.IsNullOrEmpty(ViewBag.SelectedCategory)))
                            {
                                <option value="@ViewBag.SelectedCategory">@ViewBag.SelectedCategory</option>
                            }
                            @foreach (var item in ViewBag.Categories)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-4">Search:@Html.TextBox("SearchString", null, htmlAttributes: new { @class = "form-control" })</div>
                    <div class="col-md-4"><input type="submit" value="Search" class="btn btn-success" style="width:300px;margin-top:20px" /></div>
                </div>
            }
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
    <hr />
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {


        <div class="col-lg-4 col-md-4" style="margin-bottom:20px;">
            <a href="@Url.Action("Details", "Equipment", new {id = item.Id })" class="decoration">
                <div class="event-card" style="width: 37rem;">
                    <img src="@Url.Content(item.ImgPath)" class="card-img-top img-responsive" alt="..." style="width:370px; height:230px;">
                    <div class="event-card-header">
                        <h5 class="event-card-title" style="text-align:left;">@Html.DisplayFor(modelItem => item.Name)</h5>

                        <div class="card-text">
                            <span class="">$@Html.DisplayFor(modelItem => item.DailyRate)</span>
                            <span class="pull-right">
                                @{

                                    if (item.IsAvaible == true)
                                    {
                                        <span>Available</span>
                                    }
                                    else
                                    {
                                        <span>Not Available</span>
                                    }
                                }
                            </span>
                        </div>
                        <p class="card-text">@item.LongDescription</p>
                    </div>



                </div>
            </a>

        </div>
        }

    </div>
</div>
