@model IEnumerable<SportEquipWeb.Models.Core.Equipment>

@{
    ViewBag.Title = "Index";
}
<style>
    .disableBtn{
        
    }
</style>

<link href="~/Content/Site.css" rel="stylesheet" />
<div class="container" style="padding-top:15px;">
    <div class="row">
        <div class="col-md-4">
            @Html.ActionLink("Create New", "Create","Owner", null, htmlAttributes: new { @class = "btn btn-info" })
        </div>
        <div class="col-md-8">
            @using (Html.BeginForm())
            {

                @Html.TextBox("SearchString", null, htmlAttributes: new { @class = "form-control" })
                <input type="submit" value="Search" class="btn btn-success" />

            }
        </div>
        </div>
</div>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {


            <div class="col-lg-4 col-md-4" style="margin-bottom:20px;">
                <a href="@Url.Action("Details", "Equipment", new {id = item.Id })" class="decoration">
                    <div class="event-card" style="width: 37rem;">
                        <img src="@Url.Content(item.ImgPath)" class="card-img-top img-responsive" alt="..." style="width:370px; height:230px;">
                        <div class="event-card-header">
                            <h5 class="event-card-title" style="text-align:center">@Html.DisplayFor(modelItem => item.Name)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.ShortDescription)</p>
                        </div>
                        <ul class="event-list-group list-group-flush">
                            <li class="event-list-group-item" style="text-align:center">
                                @{

                                    if (item.IsAvaible == true)
                                    {
                                        <p>Available</p>
                                    }
                                    else
                                    {
                                        <p>Not Available</p>
                                    }
                                }

                            </li>

                        </ul>
                        @{
                            if (item.IsAvaible)
                            {
                                @Html.ActionLink("Order Now", "ComfirmOrder", "Equipment", new { id = item.Id }, htmlAttributes: new { @class = "btn event-btn " })
                            }
                            else
                            {
                                @Html.ActionLink("Order Now", "ComfirmOrder", "Equipment", new { id = item.Id }, htmlAttributes: new { @class = "btn event-btn disabled" })
                            }
                        }
                        @*@Html.ActionLink("Learn More", "Details", new { id = item.Id }, new { @class = "btn event-btn" })*@

                    </div>
                </a>

            </div>

        }

    </div>
</div>
