@{
    ViewBag.Title = "Home Page";
}

@using Microsoft.AspNet.Identity
<div class="container">
    @if (Request.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
    <div class="row">
        <div class="col-md-4">
            <div class="jumbotron">
                <h2>View All Equipment</h2>
                <p>Some quick example to View All Equipment</p>
                <p><a class="btn btn-primary btn-md" href="@Url.Content("~/Equipment/Index")" role="button">View All</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="jumbotron">
                <h2>View All Transactions</h2>
                <p>Some quick example to View All Equipment</p>
                <p><a class="btn btn-primary btn-md" href="@Url.Content("~/Equipment/AllTransactions")" role="button">View All</a></p>
            </div>
        </div>
    </div>
        }
        else if (User.IsInRole("User"))
        {
            <div class="row">
                <div class="col-md-4">
                    <div class="jumbotron">
                        <h2>View All Equipment</h2>
                        <p>Some quick example to View All Equipment</p>
                        <p><a class="btn btn-primary btn-md" href="@Url.Content("~/Equipment/Index")" role="button">View All</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="jumbotron">
                        <h2>View All Transactions</h2>
                        <p>Some quick example to View All Equipment</p>
                        <p><a class="btn btn-primary btn-md" href="@Url.Content("~/Equipment/UserTransactions")" role="button">View All</a></p>
                    </div>
                </div>
            </div>
        }
        else if (User.IsInRole("Owner"))
        {
<div class="row">
    <div class="col-md-4">

        <div class="jumbotron">
            <h2>Add An Equipment</h2>
            <p>Some quick example to Add an Equipment</p>
            <p><a class="btn btn-primary btn-md" href="@Url.Content("~/Owner/Create")" role="button">Create</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron">
            <h2>View All Equipment</h2>
            <p>Some quick example to View All Equipment</p>
            <p><a class="btn btn-primary btn-md" href="@Url.Content("~/Owner/Index")" role="button">View All</a></p>
        </div>


    </div>
    <div class="col-md-4">
        <div class="jumbotron">
            <h2>View All Transactions</h2>
            <p>Some quick example to View All Transactions</p>
            <p><a class="btn btn-primary btn-md" href="@Url.Content("~/Owner/Transactions")" role="button">View All</a></p>
        </div>


    </div>
</div>
        }

    }
    else
    {

        <div class="container" style="padding-top:50px">
            <div class="row">
                <div class="col-md-6 " style="padding:0 10%">
                    <h1>Welcome to SportEquipWeb</h1>
                    <br />
                    <h3>Manage all results and units.</h3>
                    <p>please <a href="@Url.Content("~/Account/login")" class="btn btn-info">login</a> to use </p>
                </div>
                <div class="col-md-6">
                    <img src="https://miro.medium.com/max/3200/0*z43TuPXCcl_-RizQ.jpg" alt="manager pic" style="width:45vw;" />
                </div>
            </div>
        </div>
    }
</div>
